doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="static/css/index.css")
    link(href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah", rel="stylesheet")
  body
     h1 fenix
     ul
      each val in message
        li= val
